.cuadriculas{
    border: 2px salmon; 
    border-radius: 5px;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(3,fr);
    gap: 10px;/*agregamos espacio entre los elementos */
    padding: 10 px;
 
}
.box{
    border: 2px salmon;
    border-radius: 5px;
    background-color: beige;
    padding: 1em;
    color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    box-sizing: border-box;
}
.nested{
    border: 2px sandybrown;
    border-radius: 5px;
    background-color: brown;
    padding: 1em;
    box-sizing: border-box;
}
.box2,.box3, .box4, .box5 {
    border: 2px sandybrown;
    border-radius: 5px;
    background-color: brown;
    padding: 1em;
    color: rgb(211, 226, 43);
    
}